::-webkit-input-placeholder { color:#ccc; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;	
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}

a:focus {
	outline: none;
}

body, html {
	color: #fff;
	font-size: 16px;
	height: 100%;
}

h1, h2, h3 {
	font-weight: 100;
	line-height: 80%;
}

body, html, input, textarea {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

h1 span, h2 span, h3 span {
	font-weight: 200;
}

h1 {
	font-size: 90px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

h2 {
	font-size: 60px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h3 {
	font-size: 30px;
	margin-bottom: 18px;
}

p {
	line-height: 21px;
	margin-bottom: 20px;
}

fieldset {
	margin: none;
	margin-top: 10px;
	padding: none;
	width: 100%;
}

fieldset label {
	display: none;
}

input, textarea, button {
	background-color: transparent;
	border: none;
	border-radius: 3px;
	color: #000;
	font-size: 16px;
	font-weight: 200;
	padding: 2%;
}

input[type="text"], input[type="email"], textarea {
	width: 96%;
}

button {
	color: #fff;
	height: 40px;
	line-height: 0;
	float: right;
}

textarea {
	height: 160px;
	resize: none;
}

#masthead {
	-webkit-transition: background-color .5s ease-in;
	-ms-transition: background-color .5s ease-in;
	-moz-transition: background-color .5s ease-in;
	-o-transition: background-color .5s ease-in;
	background-color: transparent;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

.opaque #masthead.home {
	background-color: #3276b1;
}

.opaque #masthead.project {
	background-color: #47a447;
}

.opaque #masthead.contact {
	background-color: #ed9c28;
}

.menu-navigation {
	text-align: left;
	margin-left: 15px;
}

.menu-navigation li {
	display: inline;
	margin-right: 15px;
}



.menu-navigation .menu span {
	color: #fff;
	text-transform: uppercase;
}

.current > span {
	cursor: pointer;
	color: #000 !important
}

.intro {
	display: table;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#home {
	background: #3276b1;
}

#home h1 {
	white-space: nowrap;
}

#home a.button {
	background: #30778d;
}

.arrows-down {
	-webkit-transition: background-position .5s ease-in;
	-ms-transition: background-position .5s ease-in;
	-moz-transition: background-position .5s ease-in;
	-o-transition: background-position .5s ease-in;
	background: url('../img/arrows-down.png') no-repeat;
	background-position: 0 -5px;
	bottom: 10px;
	display: block;
	height: 40px;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	position: absolute;
	text-indent: -3000em;
	width: 40px;	
}

/*
.arrows-down:hover {
	background-position: 0 5px;
}
*/

#project {
	background: #47a447;
}

#contact {
	background: #ed9c28;
}

#contact a.button, #contact input[type="text"], #contact input[type="email"], #contact textarea {
	background: #FCF5F5;
}

#contact button {
	-webkit-transition: color .5s ease-in;
	-ms-transition: color .5s ease-in;
	-moz-transition: color .5s ease-in;
	-o-transition: color .5s ease-in;
	cursor: pointer;
	display: inline-block;
	background: #428bca;
}

#contact button:hover {
	background: #357ebd;
}

li > span {
	cursor: pointer;
}

.facebook-icon {
	background-image: url('../img/facebook-icon.png');
	width: 48px;
	height: 48px;
	display: block;
	position: relative;
	float: left;
}

.twitter-icon {
	background-image: url('../img/twitter-icon.png');
	width: 48px;
	height: 48px;
	display: block;
	position: relative;
	float: left;
}

.gplus-icon {
	background-image: url('../img/gplus-icon.png');
	width: 48px;
	height: 48px;
	display: block;
	position: relative;
	float: left;
}

.linkedin-icon {
	background-image: url('../img/linkedin-icon.png');
	width: 48px;
	height: 48px;
	display: block;
	position: relative;
	float: left;
}

.underline {
	color: #000;
}

.contentLimit {
	width: 90%;
}

.divLeft{
	float: left;
	width: 44%;
	margin-top: 16%;
	text-align: center;
}

.divRight{
	position: relative;
	float: right;
	width: 55%;
	margin-top: 18%;
}

.divRightProject{
	margin-top: 6% !important;
}

.divRightContact{
	margin-top: 8% !important;
}

img.illustration {
	max-width: 740px;
	width: 60%;
	border-radius: 50%;
	box-shadow: 0 0 0 8px;
}

@media (max-width: 524px) {
	.divLeft {
		margin-top: 25% !important;
		width: 100% !important;
	}

	.divRight {
		width: 90% !important;
	}
}

@media (max-width: 330px) {
	h2 {
		font-size: 48px !important;
	}

	button {
		width: 60px !important;
	}
}

/* project */
.ui.menu {
	width: 90%;
	margin: 1rem 0rem;
	background-color: #FFF;
	font-size: 0;
	font-weight: 400;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	border-radius: 3px;
}
.item:hover {
	background-color: #EFF;
	border-radius: 3px;
}

.ui.menu .item, .ui.menu .item>a {
	color: rgba(0,0,0,.75);
}

.ui.vertical.menu .item {
	display: block;
	height: auto!important;
	border-top: 0;
	border-left: 0 solid rgba(0,0,0,0);
	border-right: 0;
	border-bottom: 2px solid gray;
}
.ui.menu .item {
	font-size: 16px;
}
.ui.menu .item {
	position: relative;
	display: inline-block;
	padding: 10px 10px;
	border-top: 0 solid rgba(0,0,0,0);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui.menu .item > a, .ui.menu .item > .hifen {
	float: right;
}