<div class="contact">
    <a class="gplus-icon" href="https://plus.google.com/109325404047497404656/about" target="_blank" title="Google+ - Gustavo Isensee"></a>
    <a class="facebook-icon" href="http://www.facebook.com/profile.php?id=100000394403997" target="_blank" title="Facebook - Gustavo Isensee"></a>
    <a class="linkedin-icon" href="http://www.linkedin.com/pub/gustavo-isensee/3a/93b/752" target="_blank" title="LinkedIn - Gustavo Isensee"></a>
    <a class="twitter-icon" href="http://twitter.com/gustavoisensee" target="_blank" title="Twitter - @gustavoisensee"></a>
    <a class="github-icon" href="https://github.com/gustavoisensee" target="_blank" title="Github - gustavoisensee"></a>
</div>