<!DOCTYPE html>
<html ng-app>

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width" />

	<title>Website - Gustavo Isensee</title>

    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='css/slideme.min.css' type='text/css' media="all" /> 
	<link rel='stylesheet' href='css/style.min.css' type='text/css' />

    <script src="js/plugin/jquery-1.10.1.min.js"></script>
    <script src="js/plugin/jquery.slideme.min.js"></script>
    <script src="js/plugin/jquery.noty.packaged.min.js"></script>
    <script src="js/plugin/angular.min.js"></script>

    <script src="js/language.min.js"></script>
    <script src="js/scope.js"></script>
</head>
<body ng-controller="scope.Controller">
    
	    <header id="masthead">
    		<ul id="menu-navigation" class="menu-navigation">
    			<li class="current">
    				<a href="#home">{{langPageCurrent.menuHome}}</a>
				</li>
				<li>
					<a id="menuProject" href="#project">{{langPageCurrent.menuProject}}</a>
				</li>
				<li>
					<a id="menuContact" href="#contact">{{langPageCurrent.menuContact}}</a>
				</li>
				<li>
					<span>lang: { </span>
					<span ng-class="langPageCurrent.lang == 'ptBR' ? 'underline' : ''"
						ng-click="alterLang('ptBR')">{{langPageCurrent.menuLangPtBR}}</span>
					<span>, </span>
					<span ng-class="langPageCurrent.lang == 'enUS' ? 'underline' : ''"
						ng-click="alterLang('enUS')">{{langPageCurrent.menuLangEnUS}}</span>
					<span> }</span>
				</li>
			</ul>
	    </header>

		<section id="home" class="intro">
			<div class="divLeft">
				<img src="img/gu.jpg" class="illustration" alt="" />
            </div>
			<div id="description" class="divRight">
				<h2><span>Gustavo</span></h2>
                <h3>{{langPageCurrent.developer}}</h3>
                <div class="contentLimit">
                	<p>{{langPageCurrent.myDescription}}</p>
            	</div>
			</div>
			<a id="arrows-down-doc" class="arrows-down" href="#project" 
            	title="{{langPageCurrent.goToProject}}">{{langPageCurrent.goToProject}}</a>
		</section>

		<section id="project" class="intro">
			<div class="divLeft">
            	<img src="img/project.jpg" class="illustration" alt="" />
            </div>
            <div class="divRight divRightProject">
                <h2><span>{{langPageCurrent.project}}</span></h2>
				<div class="ui vertical fluid menu">
		            <div class="item">
		            	<span>Custos Portuários</span>
		            	<a href="http://revista.labtrans.ufsc.br/custos-portuarios-terao-parametros/" target="_blank">Link 2</a>
		            	<span class="hifen">&nbsp;-&nbsp;</span>
						<a href="http://www.labtrans.ufsc.br/pt-br/projetos/portos/custos-portuarios/" target="_blank">Link 1</a>
		            </div>
		            <div class="item">
		            	<span>Banco de Horas</span>
		            </div>
	          	</div>
				<div class="ui vertical fluid menu">
				    <div class="item">
				    	<span>node-first-app</span>
		            	<a href="https://github.com/gustavoisensee/node-first-app" target="_blank">Link</a>
				    </div>
				    <div class="item">
				    	<span>gustavoisensee.com</span>
		            	<a href="https://github.com/gustavoisensee/gustavoisensee.com" target="_blank">Link</a>
				    </div>
				    <div class="item">
				    	<span>Gplus-button</span>
		            	<a href="https://github.com/gustavoisensee/gplus-button" target="_blank">Link</a>
				    </div>
				    <div class="item">
				    	<span>Pinterest-button</span>
		            	<a href="https://github.com/gustavoisensee/pinterest-button" target="_blank">Link</a>
				    </div>
				    <div class="item">
				    	<span>Tumblr-button</span>
		            	<a href="https://github.com/gustavoisensee/tumblr-button" target="_blank">Link</a>
				    </div>
				    <div class="item">
				    	<span>Linkedin-button</span>
		            	<a href="https://github.com/gustavoisensee/linkedin-button" target="_blank">Link</a>
				    </div>
				    <div class="item">
				    	<span>DrawingBoard</span>
		            	<a href="https://github.com/gustavoisensee/drawingboard" target="_blank">Link</a>
				    </div>
				</div>
				<div class="ui vertical fluid menu">
					<div class="item">
						<span>Realclinic</span>
		            	<a href="http://www.tdsa.com.br/joomla/index.php/produtos?id=3" target="_blank">Link</a>
					</div>
					<div class="item">
						<span>Realblood</span>
		            	<a href="http://www.tdsa.com.br/joomla/index.php/produtos?id=4" target="_blank">Link</a>
					</div>
				</div>
			</div>
            <a id="arrows-down-con" class="arrows-down" href="#project" 
            	title="{{langPageCurrent.goToContact}}">{{langPageCurrent.goToContact}}</a>
	    </section>

		<section id="contact" class="intro">
			<div class="divLeft">
                <img src="img/letter.jpg" class="illustration" alt="" />
            </div>
            <div class="divRight divRightContact">
                <form name="contact" class="contentLimit" novalidate>
					<fieldset>
						<input type="text" id="name" name="name" value="" size="40" ng-model="user.name"
							required placeholder="{{langPageCurrent.name}}" />
						<span class="error" ng-show="!contact.name.$valid">{{langPageCurrent.fieldRequired}}</span>
					</fieldset>
					<fieldset>
						<input type="email" id="email" name="email" value="" size="40" ng-model="user.email"
							required placeholder="{{langPageCurrent.email}}" />
						<span class="error" ng-show="!contact.email.$valid">{{langPageCurrent.fieldRequired}}</span>
					</fieldset>
					<fieldset>
						<input type="text" id="subject" name="subject" value="" size="40" ng-model="user.subject"
							required placeholder="{{langPageCurrent.subject}}" />
						<span class="error" ng-show="!contact.subject.$valid">{{langPageCurrent.fieldRequired}}</span>
					</fieldset>
					<fieldset>
						<textarea id="message" name="message" cols="40" rows="10" ng-model="user.message"
							required placeholder="{{langPageCurrent.message}}"></textarea>
						<span class="error" ng-show="!contact.message.$valid">{{langPageCurrent.fieldRequired}}</span>
					</fieldset>
					<fieldset>
						<a class="gplus-icon" href="https://plus.google.com/109325404047497404656/about" 
							target="_blank" title="Google+ - Gustavo Isensee"></a>
		        
		                <a class="facebook-icon" href="http://www.facebook.com/profile.php?id=100000394403997"
		                	target="_blank" title="Facebook - Gustavo Isensee"></a>
		        
		                <a class="linkedin-icon" href="http://www.linkedin.com/pub/gustavo-isensee/3a/93b/752"
		                	target="_blank" title="LinkedIn - Gustavo Isensee"></a>
		        
		                <a class="twitter-icon" href="http://twitter.com/gustavoisensee" target="_blank" 
		                	title="Twitter - @gustavoisensee"></a>

						<button id="btnSend" ng-click="sendEmail(user, contact.$valid)">{{langPageCurrent.send}}</button>
					</fieldset>
				</form>
			</div>
		</section>
</body>
</html>