<!DOCTYPE html>
<html ng-app="WebSite">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta charset="UTF-8"></meta>
	<title>Gustavo Isensee</title>
    
    <!-- css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel='stylesheet' href='css/style.css' type='text/css' />

	<!-- framework -->
    <script src="js/plugin/angular.min.js"></script>

    <!-- mine -->
    <script src="js/language.js"></script>
    <script src="js/app.js"></script>

    <!-- google analytics -->
    <script>
	  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  // ga('create', 'UA-48622210-1', 'gustavoisensee.com');
	  // ga('send', 'pageview');
	</script>
</head>
<body ng-controller="Controller">
    <header id="masthead">
		<div id="menu-navigation" class="menu-navigation">
			<menu></menu>
		</div>
		<div id="dl-menu" class="dl-menuwrapper">
			<button id='btnDlmenu' class="dl-trigger" ng-click="openMenu()"></button>
			<menu></menu>
		</div>
		<div id="menu-contact">
			<menucontact></menucontact>
		<div>
    </header>

	<section id="home" class="intro">
		<div class="divLeft">
			<img src="img/gu.jpg" class="illustration" alt="" />
        </div>
		<div id="description" class="divRight">
			<h2><span>Gustavo</span></h2>
            <h3>{{language.developer}}</h3>
            <div class="contentLimit">
            	<p class="description">{{language.myDescription}}</p>
        	</div>
		</div>
	</section>

	<section id="project" class="intro">
		<div class="divLeft">
        	<img src="img/project.jpg" class="illustration" alt="" />
        </div>
        <div class="divRight divRightProject">
            <h2>{{language.project}}</h2>
			<div class="buttons-project">
				<button type="button" class="btn {{ buttonProject == 1 ? 'btn-primary' : 'btn-default' }}" ng-click="buttonProject=1">2014</button>
				<button type="button" class="btn {{ buttonProject == 2 ? 'btn-primary' : 'btn-default' }}" ng-click="buttonProject=2">2013</button>
				<button type="button" class="btn {{ buttonProject == 3 ? 'btn-primary' : 'btn-default' }}" ng-click="buttonProject=3">2009/2012</button>
			</div>
			<div class="legends">
				<span class="star-icon left"></span><span class="legend-title">{{language.legendTitleCurrentProjet}}</span>	
				<span class="success-icon left"></span><span class="legend-title">{{language.legendTitleFinishedProjet}}</span>	
			</div>
			<div class="ui vertical fluid menu project {{ buttonProject == 1 ? 'project-show' : 'project-hide' }}">
				<span class="header item">2014</span>
				<a class="head item" href="http://www.labtrans.ufsc.br/" target="_blank">LabTrans</a>
				<span class="item" title="{{language.noLink}}">Urano - SAC<span class="star-icon right"></span></span>
				<span class="item" title="{{language.noLink}}">Hórus - SAC<span class="star-icon right"></span></span>
				<span class="item" title="{{language.noLink}}">TLD - Tecnologia de Levantamento de Dados<span class="star-icon right"></span></span>
				<a class="item" href="http://www.labtrans.ufsc.br/pt-br/projetos/portos/sicport/" target="_blank">SicPort - ANTAQ<span class="success-icon right"></span></a>
				<a class="head item" href="https://github.com/" target="_blank">GitHub</a>
				<a class="item" href="https://github.com/gustavoisensee/nodejs-sqlserver" target="_blank">nodejs-sqlserver<span class="success-icon right"></span></a>
				<a class="item" href="https://github.com/gustavoisensee/informaticaeaprofissao" target="_blank">informaticaeaprofissao<span class="success-icon right"></span></a>
            	<a class="item" href="https://github.com/gustavoisensee/gustavoisensee.com" target="_blank">gustavoisensee.com<span class="success-icon right"></span></a>
			</div>
			<div class="ui vertical fluid menu project {{ buttonProject == 2 ? 'project-show' : 'project-hide' }}">
				<span class="header item">2013</span>
				<a class="head item" href="http://www.labtrans.ufsc.br/" target="_blank">LabTrans</a>
				<a class="item" href="http://www.labtrans.ufsc.br/pt-br/projetos/portos/sicport/" target="_blank">SicPort - ANTAQ<span class="success-icon right"></span></a>
            	<span class="item" title="{{language.noLink}}">Banco de Horas<span class="success-icon right"></span></span>
				<a class="head item" href="https://github.com/" target="_blank">GitHub</a>
				<a class="item" href="https://github.com/gustavoisensee/curvaabc" target="_blank">curvaabc<span class="success-icon right"></span></a>
            	<a class="item" href="https://github.com/gustavoisensee/gustavoisensee.com" target="_blank">gustavoisensee.com<span class="success-icon right"></span></a>
            	<a class="item" href="https://github.com/gustavoisensee/gplus-button" target="_blank">Gplus-button<span class="success-icon right"></span></a>
            	<a class="item" href="https://github.com/gustavoisensee/pinterest-button" target="_blank">Pinterest-button<span class="success-icon right"></span></a>
            	<a class="item" href="https://github.com/gustavoisensee/tumblr-button" target="_blank">Tumblr-button<span class="success-icon right"></span></a>
            	<a class="item" href="https://github.com/gustavoisensee/linkedin-button" target="_blank">Linkedin-button<span class="success-icon right"></span></a>
			</div>
			<div class="ui vertical fluid menu project {{ buttonProject == 3 ? 'project-show' : 'project-hide' }}">
				<span class="header item">2012/2009</span>
				<a class="head item" href="http://www.tdsa.com.br/" target="_blank">TDSA</a>
            	<a class="item" href="http://www.tdsa.com.br/joomla/index.php/produtos?id=3" target="_blank">Realclinic<span class="success-icon right"></span></a>
            	<a class="item" href="http://www.tdsa.com.br/joomla/index.php/produtos?id=4" target="_blank">Realblood<span class="success-icon right"></span></a>
			</div>
			
		</div>
    </section>
</body>
</html>