<!DOCTYPE html>
<html ng-app="WebSite">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta charset="UTF-8"></meta>
	<title>Gustavo Isensee</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

	<link href="public/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href='public/css/style.css' rel='stylesheet' type='text/css' />
	<script src="public/js/lib/angular.min.js" type="text/javascript"></script>
</head>
<body ng-controller="Controller">
    <div class="header"></div>

	<div class="content">
		<div class="div-full div-illustration">
			<img src="public/img/gu3.jpg" class="illustration" alt="" />
        </div>
		<div class="div-full">
			<h2><span>Gustavo Isensee</span></h2>
            <h3>{{language.developer}}</h3>
            <div class="div-description">
            	<p class="description">{{language.myDescription}}</p>
        	</div>
		</div>
	</div>

	<div class="footer">
		<div class="icons">
		    <a class="gplus-icon" href="https://plus.google.com/109325404047497404656/about" target="_blank" title="Google+ - Gustavo Isensee"></a>
		    <a class="facebook-icon" href="http://www.facebook.com/profile.php?id=100000394403997" target="_blank" title="Facebook - Gustavo Isensee"></a>
		    <a class="linkedin-icon" href="http://www.linkedin.com/pub/gustavo-isensee/3a/93b/752" target="_blank" title="LinkedIn - Gustavo Isensee"></a>
		    <a class="twitter-icon" href="http://twitter.com/gustavoisensee" target="_blank" title="Twitter - @gustavoisensee"></a>
		    <a class="github-icon" href="https://github.com/gustavoisensee" target="_blank" title="Github - gustavoisensee"></a>
	    </div>
	    <ul>
			<li>
			 	<span class='{{language.lang == "ptBR" ? "underline" : ""}}' ng-click='alterLang("ptBR")'>{{language.menuLangPtBR}}</span><span> - </span>
			 	<span class='{{language.lang == "enUS" ? "underline" : ""}}' ng-click='alterLang("enUS")'>{{language.menuLangEnUS}}</span>
			</li>
		</ul>
	</div>

	<script src="public/js/all.min.js" type="text/javascript"></script>
</body>
</html>
