.Content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #383838;
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;

    .Bookmark {
      margin-left: -40px;
      margin-top: -66px;
    }
  }

  h1 {
    margin: 0;
    font-size: 2.1rem;
    padding: 16px 0;
  }
  
  h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #3999dc;
    border-radius: 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 0 16px;
    margin-left: -40px;
  }

  p {
    margin: 1.5rem 0;
    line-height: 1.7rem;
    font-size: 1rem;
  }

  .content-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
    .button {
      color: #5f6368;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid #e2dfdf;
      font-size: 1rem;
      padding: 8px;
      margin: 2px;
      width: 100%;
      height: 2rem;
      cursor: pointer;
      max-width: 10rem;
      outline: 0;
      transition: all .2s ease-in-out;
    
      &:hover {
        border: 0;
        border-bottom: 3px solid;
      }
    }

    .active {
      border-bottom: 3px solid;
    }
  }
}