@import '../../styles/variables.scss';

.Content {
  .tab {
    padding-top: 24px;
    flex-direction: column;

    a {
      margin-right: 16px;
    }

    .active {
      font-weight: 700;
      color: $color_blue
    }

    .not-active {
      text-decoration: underline;
    }
  }

  .paragraph {
    line-height: 1.7;
  }
}