.header {
  @apply flex flex-row items-center justify-start;

  @media (max-width: 550px) {
    @apply flex-col items-start;
  }
}

.title {
  @apply flex justify-evenly py-2 px-2 cursor-default rounded-r-3xl rounded-l-sm shadow-md;
  @apply bg-indigo-600 hover:bg-indigo-700 transition-all text-white font-semibold text-xl;
  min-width: 250px;
}

.icon {
  @apply ml-2 w-8;
}

.profilePicture {
  @apply bg-no-repeat bg-center shadow-xl h-48;
  border-radius: 0 50% 50%;
}

.titleContainer {
  @apply pl-8;

  @media (max-width: 550px) {
    @apply pl-0 mt-4;
  }
}
