.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;

  .profile-picture {
    background-repeat: no-repeat;
    background-position: center;
    height: 12rem;
    border-radius: 0 50% 50%;
    box-shadow: 2px 6px 10px 0px #ababab;
  }
}
