@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white dark:bg-gray-900;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  @apply text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-900 font-sans;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  box-sizing: border-box;
}

#root {
  @apply bg-white dark:bg-gray-900;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

a {
  word-break: break-word;
}
